body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-child-1 a img {
    height: 40px;
    width: 100px;
}

.nav-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-child-2 h4 a {
    text-decoration: none;
    font-weight: 900;
    position: relative;
}

.nav-child-2 button a {
    text-decoration: none;
    font-weight: 900;
}

.nav-child-2 h4 a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0;
    background-image: linear-gradient(to right, red, yellow, blueViolet);
    bottom: -10px;
}

.nav-child-2 h4 a:hover::after {
    width: 100%;
    transition: 0.3s;
}

.nav-child-2 button {
    background-color: aliceblue;
    padding: 10px 20px;
    border: 2px solid #f4d01e;
    border-radius: 8px;
}

.nav-child-2 button:hover {
    box-shadow: 1px 1px 10px 5px #f4d01e;
}

.button-animation {
    height: 50px;
    width: 100px;
    background-color: #1d2525;
    border: none;
    border-radius: 8px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
}

.animation-style {
    height: 40px;
    width: 90px;
    background-color: cadetblue;
    color: aliceblue;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;
    top: -7px;
    border-radius: 5px;
    z-index: 2;
}

.button-animation::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, red, blueViolet);
    height: 30px;
    width: 150%;
    left: 0;
    bottom: 10px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.box-animation {
    height: 50px;
    width: 120px;
    background-color: #1d2525;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.box-animation h4 {
    color: aliceblue;
    font-size: small;
    font-weight: 900;
    z-index: 2;
}

.box-animation::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 140%;
    background-image: linear-gradient(to right, red, blueViolet);
    animation: rotate 4s linear infinite;
}

.box-animation::after {
    content: '';
    position: absolute;
    background-color: cadetblue;
    inset: 5px;
    border-radius: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#animation-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.anime-section-child-1{
    border: 1px solid tan;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    
}
.anime-section-child-2{
    border: 1px solid tan;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}







@media screen and (max-width: 620px) {
    nav {
        margin-top: 10px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .nav-child-2 {
        justify-content: center;
        gap: 20px;
    }
}
